{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% if errors %}
        {{ errors.messageKey }}
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Username</label>
        <input type="text" name="_username" id="username" value="{{ lastUsername }}">

        <label for="password">Password</label>
        <input type="password" name="_password" id="password">

        <button>Connect</button>
    </form>
{% endblock %}